<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Sharing Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Recipe Sharing</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('recipe') }}">Recipes</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Welcome to Our Recipe Sharing Website!</h2>
            <p>Explore and share delicious recipes from our community of food lovers.</p>
            <a href="#" class="btn">Get Started</a>
        </section>

        <section class="featured-recipes">
            <h2>Featured Recipes</h2>
            {% for recipe in recipes %}
            <div class="recipe-card">
                <img src="templates/recipe1.jpg" alt="Recipe 1">
                <h3>{{ recipe.recipe_name }}</h3>
                <p>{{ recipe.description }}</p>
            </div>
            {% endfor %}
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Recipe Sharing. All rights reserved.</p>
    </footer>

    
</body>

</html>
